@tailwind base;
@tailwind components;
@tailwind utilities;

.dot-grid-background {
  background-color: #0a0a0a;
  background-image: radial-gradient(circle at 1px 1px, rgba(255, 255, 255, 0.15) 1px, transparent 0);
  background-size: 2rem 2rem;
}

html {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Ccircle cx='16' cy='16' r='8' fill='deeppink'/%3E%3C/svg%3E") 16 16, auto;
}

body {
  background-color: #000;
  color: #fff;
}

/* Custom glow effects */
.text-glow {
  text-shadow: 0 0 8px rgba(255, 20, 147, 0.4), 0 0 20px rgba(255, 20, 147, 0.5);
}

.box-glow {
  box-shadow: 0 0 15px rgba(255, 20, 147, 0.4), 0 0 30px rgba(255, 20, 147, 0.3), inset 0 0 10px rgba(255, 20, 147, 0.2);
}

.button-glow:hover {
  box-shadow: 0 0 15px rgba(255, 20, 147, 0.6), 0 0 25px rgba(255, 20, 147, 0.4);
}


/* For the vertical timeline line */
.timeline-line::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15);
}
