@tailwind base;
@tailwind components;
@tailwind utilities;

.dot-grid-background {
  background-color: #0a0a0a;
  background-image: radial-gradient(circle at 1px 1px, rgba(255, 255, 255, 0.15) 1px, transparent 0);
  background-size: 2rem 2rem;
}
