@tailwind base;
@tailwind components;
@tailwind utilities;

.dot-grid-background {
  background-color: #0a0a0a;
  background-image: radial-gradient(circle at 1px 1px, rgba(255, 255, 255, 0.15) 1px, transparent 0);
  background-size: 2rem 2rem;
}

html {
  cursor: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L18 12L13 14L0 0Z' fill='%23C774E7'/%3E%3Cpath d='M0 0L24 12L18 12L0 0Z' fill='%23C774E7'/%3E%3Cpath d='M13 14L18 12L24 12L13 14Z' fill='%23C774E7'/%3E%3Cpath d='M0 0L24 12L18 12L13 14L0 0Z' stroke='black' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/svg%3E") 0 0, auto;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
}

/* Custom glow effects */
.text-glow {
  text-shadow: 0 0 8px rgba(255, 20, 147, 0.4), 0 0 20px rgba(255, 20, 147, 0.5);
}

.box-glow {
  box-shadow: 0 0 15px rgba(255, 20, 147, 0.4), 0 0 30px rgba(255, 20, 147, 0.3), inset 0 0 10px rgba(255, 20, 147, 0.2);
}

.button-glow:hover {
  box-shadow: 0 0 15px rgba(255, 20, 147, 0.6), 0 0 25px rgba(255, 20, 147, 0.4);
}


/* For the vertical timeline line */
.timeline-line::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15);
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

.heading-gradient {
  background: linear-gradient(to right, #FF1493, #ADD3F7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
