@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Chakra Petch';
  src: url('/fonts/Cakra-Normal.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Turret Road';
  src: url('/fonts/TurretRoad-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


.dot-grid-background {
  background-color: #000000;
  background-image: radial-gradient(circle at 1px 1px, #FF087933 1px, transparent 0);
  background-size: 2rem 2rem;
}

html {
  cursor: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='grad1' x1='0%25' y1='0%25' x2='100%25' y2='100%25'%3E%3Cstop offset='0%25' style='stop-color:%23FFC0CB;stop-opacity:1' /%3E%3Cstop offset='100%25' style='stop-color:%23FF1493;stop-opacity:1' /%3E%3C/linearGradient%3E%3ClinearGradient id='grad2' x1='0%25' y1='0%25' x2='100%25' y2='100%25'%3E%3Cstop offset='0%25' style='stop-color:%23FFFFFF;stop-opacity:0.8' /%3E%3Cstop offset='100%25' style='stop-color:%23FF1493;stop-opacity:0.2' /%3E%3C/linearGradient%3E%3Cfilter id='glow' x='-50%25' y='-50%25' width='200%25' height='200%25'%3E%3CfeGaussianBlur stdDeviation='2' result='coloredBlur'/%3E%3CfeMerge%3E%3CfeMergeNode in='coloredBlur'/%3E%3CfeMergeNode in='SourceGraphic'/%3E%3C/feMerge%3E%3C/defs%3E%3Cpath d='M4 4L24 14L16 16L4 4Z' fill='url(%23grad1)' stroke='%23FFFFFF' stroke-width='1.5' stroke-linejoin='round' filter='url(%23glow)'/%3E%3Cpath d='M4 4L24 14L16 16L4 4Z' fill='url(%23grad2)' stroke-opacity='0.5'/%3E%3C/svg%3E") 4 4, auto;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
}

/* Custom glow effects */
.text-glow {
  text-shadow: 0 0 8px rgba(255, 8, 121, 0.4), 0 0 20px rgba(255, 8, 121, 0.5);
}

.box-glow {
  box-shadow: 0 0 15px rgba(255, 8, 121, 0.4), 0 0 30px rgba(255, 8, 121, 0.3), inset 0 0 10px rgba(255, 8, 121, 0.2);
}

.button-glow:hover {
  box-shadow: 0 0 15px rgba(255, 8, 121, 0.6), 0 0 25px rgba(255, 8, 121, 0.4);
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

.heading-gradient {
  background: linear-gradient(90deg, #FF0879, #ACD5F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.memories-carousel .swiper-wrapper {
  transition-timing-function: linear !important;
}

.memories-carousel .swiper-slide {
  transition: transform 0.3s ease-out, filter 0.3s ease-out;
  filter: grayscale(100%);
}

.memories-carousel .swiper-slide:hover {
  filter: grayscale(0%);
  transform: rotate(0deg) scale(1.1);
  z-index: 10;
}

.memories-carousel .swiper-slide:hover ~ .swiper-wrapper {
  animation-play-state: paused;
}
